#main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );
  justify-content: flex-start;
}
#modalFirstLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#belowVideo {
  display: flex;
  flex-direction: column;
}
#title {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #f1f1f1;
}
#row_icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#subscribe {
  background-color: rgba(159, 149, 149, 0.753);
  margin-left: 5px;
}
#subscribe:hover {
  background-color: rgba(41, 38, 38, 0.753);
  margin-left: 5px;
}
#subscribed {
  background-color: rgba(41, 38, 38, 0.753);
  margin-left: 5px;
}
#subscribed:hover {
  background-color: rgba(159, 149, 149, 0.753);
  margin-left: 5px;
}
#likeUnlikeButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#like {
  width: 50px;
}
#like:hover {
  background-color: rgba(41, 38, 38, 0.753);
  border-radius: 15px;
}
#likeD {
  width: 50px;
  color: rgba(31, 24, 24, 0.769);
}
#likeD:hover {
  background-color: rgba(41, 38, 38, 0.753);
  border-radius: 15px;
}
#diwaar {
  height: max-content;
  padding-top: 5px;
}
#share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: none;
}
#left {
  display: flex;
  flex-direction: row;
}
#description {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#description:hover {
  background-color: rgb(69, 69, 69);
}
#video {
  width: 100% !important;
  height: 25% !important;
  background-color: black;
}
#copyButton {
  background-color: rgb(14, 90, 255) !important;
  margin-left: 10px;
}
#copyButton:hover {
  background-color: rgb(79, 134, 255) !important;
  margin-left: 10px;
}
#showInput {
  width: 450px !important;
}
#modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#closeIcon {
  position: relative;
  top: -10px;
  right: -10px;
}
#closeIcon:hover {
  cursor: pointer;
  background-color: #2d2d2d;
  border-radius: 10px;
}
@media screen and (min-width: 391px) {
  #showInput {
    width: 450px !important;
  }
  #modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  #modalFirstLine {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #shareText {
    font-size: large;
  }
  #closeIcon {
  }
  #closeIcon:hover {
    cursor: pointer;
    background-color: #2d2d2d;
    border-radius: 10px;
  }
  #copyButton {
    background-color: rgb(14, 90, 255) !important;
    margin-left: 10px;
  }
  #copyButton:hover {
    background-color: rgb(79, 134, 255) !important;
    margin-left: 10px;
  }
  #subscribed {
    background-color: rgba(41, 38, 38, 0.753);
    margin-left: 5px;
  }
  #subscribed:hover {
    background-color: rgba(159, 149, 149, 0.753);
    margin-left: 5px;
  }
  #main {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 0, 0)
    );
  }
  #belowVideo {
    display: flex;
    flex-direction: column;
  }
  #title {
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: #f1f1f1;
  }
  #row_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 930px;
  }
  #subscribe {
    background-color: rgba(159, 149, 149, 0.753);
  }
  #subscribe:hover {
    background-color: rgba(41, 38, 38, 0.753);
  }
  #likeUnlikeButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #like {
    width: 50px;
  }
  #like:hover {
    background-color: rgba(41, 38, 38, 0.753);
    border-radius: 15px;
  }
  #likeD {
    width: 50px;
    color: rgba(31, 24, 24, 0.769);
  }
  #likeD:hover {
    background-color: rgba(41, 38, 38, 0.753);
    border-radius: 15px;
  }
  #diwaar {
    height: max-content;
    padding-top: 5px;
  }
  #share {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #left {
    display: flex;
    flex-direction: row;
  }
  #description {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 930px !important;
    padding: 10px;
  }
  #description:hover {
    background-color: rgb(69, 69, 69);
  }
  #video {
    width: 940px !important;
    height: 530px !important;
    background-color: black;
  }
}
