#main {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );
}
#belowVideo {
  display: flex;
  flex-direction: column;
}
#title {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #f1f1f1;
}
#row_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#subscribe {
  background-color: rgba(159, 149, 149, 0.753);
}
#subscribe:hover {
  background-color: rgba(41, 38, 38, 0.753);
}
#likeUnlikeButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#like {
  width: 50px;
}
#like:hover {
  background-color: rgba(41, 38, 38, 0.753);
  border-radius: 15px;
}
#diwaar {
  height: max-content;
  padding-top: 5px;
}
#share {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#left {
  display: flex;
  flex-direction: row;
}
#description {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#description:hover {
  background-color: rgb(69, 69, 69);
}
#video {
  width: 940px !important;
  height: 530px !important;
  background-color: black;
}
