.main {
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 10px;
}
.headerStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#text {
  margin-left: -15px;
}
.mic {
  background-color: #212121;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px;
  height: 40px;
  width: 40px;
  margin-left: 5px;
}
.mic:hover {
  background-color: #3d3d3d;
}
#search {
  background-color: #212121;
  width: 60px;
  height: 30px;
  cursor: pointer;
}
#search:hover {
  background-color: #3d3d3d;
}
#headerMiddle {
  display: none;
}
@media screen and (min-width: 1050px) {
  #headerMiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
#headerEnd {
  display: none;
}
@media screen and (min-width: 550px) {
  #headerEnd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}
#signIn {
  color: #00b7eb;
  border: solid 1px #3d3d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#signIn:hover {
  background-color: #3d3d3d;
}
.input {
  background-color: #181818;
  min-width: 400px;
}
.input:focus {
  outline: none !important;
}
#signOutButton {
  background-color: #ff0000;
  width: 100px;
}
#signOutButton:hover {
  background-color: #ff4a4a;
}
.addVideo:hover {
  background-color: #3d3d3d;
  border-radius: 25px;
  cursor: pointer;
}
