#video {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
}
#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0px;
  margin-top: 10px;
}
@media screen and (min-width: 391px) {
  #home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 65px 0px 0px 250px !important;
  }
  #video {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0px;
  }
}
