#main {
  display: flex;
  flex-direction: row;
}
#text {
  color: #b4b4b4;
}
#home {
  display: flex;
  flex-direction: column;
}
#row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
#image {
  width: 150px;
  height: 100px;
}
#searchImage {
  width: 250px !important;
  height: 150px !important;
  border-radius: 10px;
}
#searchHome {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
#searchVideoTitle {
  font-size: x-large;
}
@media screen and (min-width: 391px) {
  #main {
    display: flex;
    flex-direction: row;
  }
  #main:hover {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 0, 0)
    );
    transform: scale3d(1.1, 1.2, 2);
    transition-timing-function: ease-in;
    transition: 0.3s;
  }
  #text {
    color: #b4b4b4;
  }
  #home {
    display: flex;
    flex-direction: column;
  }
  #home:hover {
    background-color: #181818;
    transform: scale3d(1.15, 1.15, 1);
    z-index: 80 !important;
    transition-timing-function: ease-in;
    transition: 0.3s;
    border-radius: 15px !important;
    align-items: space-around !important;
  }
  #image:hover {
    width: 100% !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  #row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #image {
    width: 300px !important;
    height: 200px !important;
  }
  #imageAtVideo {
    width: 300px !important;
    height: 200px !important;
  }
  #imageAtVideo:hover {
    width: 100% !important;
  }
  #searchHome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  #searchHome:hover {
    background-color: #181818;
    transform: scale3d(1.1, 1.1, 1);
    z-index: 80 !important;
    transition-timing-function: ease-in;
    transition: 0.3s;
    border-radius: 15px !important;
  }
  #searchImage {
    width: 370px !important;
    height: 230px !important;
    border-radius: 10px;
  }
  #searchVideoTitle {
    font-size: large;
  }
  #video {
    height: 240px !important;
  }
  #reactPlayer {
    border-top-left-radius: 15px;
    overflow: hidden;
    border-top-right-radius: 15px;
  }
  #videoAtVideo {
    height: 240px !important;
  }
  #reactPlayerAtVideo {
  }
}
