#main {
  background-color: #3d3d3d;
  border: 2px solid #1d1d1d;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 50;
  margin: 0px;
  padding: 25px;
  margin-left: 0px;
  min-height: 100vh;
}
#col {
  display: flex;
  flex-direction: column;
}
#row {
  display: flex;
  flex-direction: row;
}
#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 10px 0px 0px 0px;
}
@media screen and (min-width: 391px) {
  #main {
    background-color: #3d3d3d;
    border: 2px solid #1d1d1d;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 50;
    margin: 50px;
    padding: 25px;
    margin-left: 260px !important;
    min-width: 100vh;
  }
  #col {
    display: flex;
    flex-direction: column;
  }
  #row {
    display: flex;
    flex-direction: row;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px 0px 0px 0px;
  }
}
