#main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 50px 0px 0px 0px;
}
#col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 391px) {
  #main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 100px 0px 0px 10px;
  }
}
