#main {
  z-index: 30;
  background-color: #1c1c1c;
  margin-left: 0px !important;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #main {
    z-index: 30;
    background-color: #1c1c1c;
    width: auto !important;
    margin-left: 10px !important;
  }
}
