.main {
  background: linear-gradient(45deg, rgb(255, 45, 45), rgb(11, 11, 65));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 10px;
}
.headerStart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#text {
  margin-left: -15px;
}
.mic {
  background-color: #212121;
  border-radius: 20px;
  cursor: pointer;
  padding: 9px;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  color:aquamarine;
}
.mic:hover {
  background-color: #3d3d3d;
}
#search {
  background: linear-gradient(rgb(11, 11, 65),rgb(11, 11, 45));
  width: 60px;
  height: 30px;
  color:rgb(94, 250, 198);
  cursor: pointer;
}
#search:hover{
  background: rgb(10, 33, 100);
  color: whitesmoke;
}
#searchDiv {
  background: linear-gradient(rgb(11, 11, 65),rgb(11, 11, 45));
  cursor: pointer;
}
#searchDiv:hover{
  background: rgb(10, 33, 100);
}
#headerMiddle {
  display: none;
}
@media screen and (min-width: 1050px) {
  #headerMiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main{
    padding:5px;
  }
}
#headerEnd {
  display: none;
}
@media screen and (min-width: 800px) {
  #headerEnd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}
#signIn {
  color: #00b7eb;
  border: solid 1px #3d3d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
#signIn:hover {
  background-color: #3d3d3d;
}
.input {
  background: none;  
  min-width: 400px;
  color:rgb(112, 218, 183);
  font-weight: 600;
  font-size: 16px;
  margin-left:15px;
}
.input:focus {
  outline: none !important;
}
#signOutButton {
  background-color: #ff0000;
  width: 100px;
}
#signOutButton:hover {
  background-color: #ff4a4a;
}
.addVideo:hover {
  background-color: #3d3d3d;
  border-radius: 25px;
  cursor: pointer;
}
