#leftHeader {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  min-height: auto !important;
  z-index: 50;
  background-color: #181818;

}
#row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
}
#row_icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#leftHeader_icon {
  display: none;
}
#leftHeader_atVideo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100% !important;
  min-height: auto !important;
}
#leftHeader_atVideo_d {
  display: none;
}
  #row:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3d3d3d !important;
  }
  #row_icon:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d !important;
  }
@media screen and (min-width: 950px) {
  #leftHeader {
    position: absolute;
    left: 0;
    top: 66px;
    display: flex;
    flex-direction: column;
    margin-right: 10px !important;
    z-index: 50 !important;
    background: linear-gradient(0deg, rgba(255, 45, 45,0.7), rgba(11, 11, 65,1));
    width: 215px;
    min-height: 100vh !important;
  }
  #leftHeader_atVideo {
    display: none;
  }
  #leftHeader_atVideo_d {
    display: none;
  }
  #row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #row_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #row:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3d3d3d !important;
  }
  #row_icon:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3d3d3d !important;
  }
  #leftHeader_icon {
    position: absolute;
    left: 0;
    top: 66px;
    display: flex;
    width: 100px !important;
    height: 100vh !important;
    flex-flow: column;
    margin-right: 10px !important;
    z-index: 50 !important;
    background: linear-gradient(0deg, rgba(255, 45, 45,0.7), rgba(11, 11, 65,1));
    }
}
