#shimmerItem {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #464545 40%, #595757 50%, #1d1a1a 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
