#video {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
}
#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0px;
}

.home{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 12px;
}
.video {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

@media screen and (min-width: 600px) {
.home{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}
.video {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
  #wobble {
    min-height: 100vh;
    margin-left: 5px;
    margin-top: 0px;
  }
  #home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 8px 0px 0px 10px !important;
    min-height: 100vh;
  }
  #video {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0px;
    background-image: linear-gradient(
      to bottom,
   rgb(0, 0, 0),
      rgba(255, 0, 0, 0.224)
    );
  }

}

@media screen and (min-width: 950px) {
.home{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}
.video {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

  #wobble {
    min-height: 100vh;
    margin-left: 5px;
    margin-top: 0px;
  }
  #home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 8px 0px 0px 10px !important;
    min-height: 100vh;
  }
  #video {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0px;
    background-image: linear-gradient(
      to bottom,
   rgb(0, 0, 0),
      rgba(255, 0, 0, 0.224)
    );
  }
}
